<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto</title>
    <link rel="stylesheet" href="../css/galeria.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/iconos.css">
</head>
<body>
    <div class="container">
        <!-- Aqui va el Navegador -->
        <div class="navegador">
            <div class="container_interior">
                <div>
                    <!-- Logo -->
                    <img src="../images/logoazul.png" alt="logo" class="logo">
                 </div>
                <div class="navbar mt15">
                    <!-- Navegacion -->
                    <ul class="nav">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="./contacto.html">Contacto</a></li>
                        <li><a href="./gallery.html" class="resaltar">Galería</a></li>
                        <li><a href="./presupuesto.html">Presupuesto</a></li>
                        <!-- <li><a href="./productos.html">Producto</a></li> -->
                    </ul>
                </div>
            </div>
           
        </div>        
        <div class="root">
            <div>
                <h1 class="title">Nuestros productos</h1>
            </div>
            <div class="gallery">
                <div class="gallery__item icon-expand">
                    <img src="../images/apple.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/acer.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/asus.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/hp.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/dell.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/lenovo.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/microsoft.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/msi.png" alt="Imagen de galería" class="gallery__img">
                </div>
               
                


                <div class="gallery__item icon-expand">
                    <img src="../images/lg.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/iphone.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/motorola.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/samsung.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/xiaomi.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/nokia.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/sony.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery__item icon-expand">
                    <img src="../images/lg.png" alt="Imagen de galería" class="gallery__img">
                </div>
                <div class="gallery-lightbox">
                    <div class="gallery-lightbox__modal">
                        <span class="gallery-lightbox__control icon-close"></span>
                        <span class="gallery-lightbox__control icon-back"></span>
                        <span class="gallery-lightbox__control icon-next"></span>
                        <img src="../images/apple.png" alt="imagen de apple" class="gallery-lightbox__img">
                    </div>
                </div>
            </div>
        </div>
        
        
      
      
    
    <!-- Aqui va el footer -->
    <div class="footer">
        <div class="container_interior cont_center">
            <!-- Redes sociales -->
            <div class="iconos">
                <img src="../images/icon-facebook.svg" alt="facebook" class="icon_img">
                <img src="../images/icon-instagram.svg" alt="instagram" class="icon_img">
                <img src="../images/icon-pinterest.svg" alt="pinterest" class="icon_img">
                <img src="../images/icon-twitter.svg" alt="twitter" class="icon_img">
            </div>
            <!-- Direccion de la empresa -->
            <div>
                <p>Domstr. 5 · 97070 Würzburg · ~8,4 km</p>
            </div>
            <!-- Aviso legal -->
            <div>
               <p>Aviso legal</p>     
            </div>
        </div>
    
    </div>
</div> 
    <script  src="/js/galeria.js"></script>

</body>
</html>